:root {
	--background: rgb(255, 251, 251);
	--background-2: rgb(187, 187, 187);
	--background-3: rgb(156, 156, 156);
	--background-text: rgb(46, 46, 46);
	--accent: rgb(209, 69, 90);
	--accent-text: hsl(0, 0%, 0%, 1);
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: "Noto Sans";
}

body {
	background: var(--background);
	color: var(--background-text);
	width: 400px;
	margin: 0px;
	overflow: hidden;
}

#uppermost {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--accent);
}

#overview-scripts li {
	margin: 10px;
	padding: 5px;
	border-radius: 3px;
	background: var(--background-2);
}

#overview-scripts li:nth-of-type(even) {
	background: var(--background-3);
}

#overview-scripts li {
	display: flex;
	justify-content: space-between;
}

#overview-scripts li .overview-actions {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

button#create-script {
	display: block;
	width: 100%;
}

main {
	max-height: 500px;
	overflow-y: scroll;
}

section:not(.active) {
	display: none;
}

input, button, select, textarea, fieldset {
	background-color: var(--background-3);
	border: none;
	box-shadow: -1px -1px 1px 1px rgba(255, 255, 255, 0.4),
				 1px  1px 1px 1px rgba(0, 0, 0, 0.5);
	margin: 5px;
}

#editor textarea {
	display: block;
}

#editor label {
	display: block;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: rgb(27, 10, 10);
		--background-2: rgb(61, 32, 32);
		--background-3: rgb(134, 76, 76);
		--background-text: rgb(204, 180, 159);
		--accent: rgb(219, 140, 94);
		--accent-text: hsl(0, 0%, 0%, 1);
	}
}
