@font-face {
  font-family: "Poppins";
  src: url("./assets/poppins/Poppins-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/poppins/Poppins-Medium.ttf");
  font-weight: semibold;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/poppins/Poppins-SemiBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("./assets/bebas_neue/BebasNeue-Regular.otf");
}
:root {
  --primary-0: #FFFFFF;
  --primary-1: #F3F3F3;
  --primary-2: #E4E4E4;
  --primary-3: #D0D0D0;
  --primary-4: #A6A8B1;
  --primary-5: #1A3C66;
  --primary-6: #171C3A;
  --primary-7: #090D28;
  --accent-dark: #FFD969;
  --accent-bright: #FFAB86;
  --accent-gradient: linear-gradient(120deg, var(--accent-dark), var(--accent-bright));
  --accent-text: #52433F;
  --accent-text-focus: var(--primary-7);
  --gap: 1rem;
  --options-height: 3rem;
  --control-radius: 0.3rem;
  --text-normal: var(--primary-5);
  --text-highlight: var(--primary-6);
  --background-1: var(--primary-0);
  --background-2: var(--primary-1);
  --background-3: var(--primary-2);
  --scroll-track: var(--primary-1);
  --scroll-thumb: var(--primary-3);
  --hr-color: var(--primary-3);
  --card-action-background: var(--primary-2);
  --card-action-background-hover: var(--primary-3);
  --snackbar-active: linear-gradient(20deg, #2AF598, #009EFD);
  --snackbar-inactive: linear-gradient(20deg, #FF6480, #F22E63);
  --snackbar-text: rgba(255, 255, 255, 0.8);
  --focus-color: rgba(255, 255, 255, 0.5);
  --focus-weight: 0.15rem;
}

* {
  font-family: "Poppins";
  font-weight: normal;
  color: var(--text-normal);
}

html {
  padding: 0px;
  font-size: 10pt;
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
  width: 450px;
  height: 585px;
  overflow: hidden;
  background-image: url("./assets/background_light.png");
  background-color: var(--background-1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

::selection {
  color: white;
  background: black;
}

button {
  display: inline-flex;
  padding: 0 1.3rem;
}

button {
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 1.2rem;
  border-radius: var(--control-radius);
  border: none;
  cursor: pointer;
}
#home {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2 * var(--gap));
  height: 100%;
  padding-top: calc(var(--gap) / 2);
  padding-bottom: calc(var(--gap) / 2);
  box-sizing: border-box;
}

#home > * {
  margin-top: calc(var(--gap) / 2);
  margin-bottom: calc(var(--gap) / 2);
}

#options {
  display: flex;
  justify-content: space-between;
  height: var(--options-height);
}

#logo {
  font-family: "Bebas Neue";
  font-size: 2rem;
  vertical-align: center;
  display: flex;
  align-items: center;
}
#logo::before {
  content: "";
  display: block;
  pointer-events: none;
  mask-size: contain;
  mask-position: center;
  mask-image: url("./assets/play_icon.svg");
  mask-repeat: no-repeat;
  background: gray;
  width: 0.4em;
  height: 0.4em;
  margin-right: 1ch;
}

.icon-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-bar > *:not(:first-child) {
  margin-left: var(--gap);
}

#theme-toggle-icon {
  --element-size: var(--options-height);
  --checked-icon: url("./assets/dark_mode_icon.svg");
  --unchecked-icon: url("./assets/light_mode_icon.svg");
  font-size: 2rem;
}

#settings-button {
  width: var(--options-height);
  height: var(--options-height);
  background: transparent;
  padding: 0;
}
#settings-button:hover {
  background: var(--background-3);
}
#settings-button:hover::before {
  background: var(--text-highlight);
}
#settings-button::before {
  content: "";
  display: block;
  pointer-events: none;
  mask-size: contain;
  mask-position: center;
  mask-image: url("./assets/settings_icon.svg");
  mask-repeat: no-repeat;
  background: var(--text-normal);
  width: 2rem;
  height: 2rem;
}

#overview-controls {
  display: flex;
  justify-content: space-between;
}
#overview-controls, #overview-controls > * {
  height: var(--options-height);
}
#overview-controls > .select-wrapper {
  flex-grow: 1;
  margin: 0 var(--gap);
}

label > input[type=checkbox].wrapped-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.checkbox-proxy {
  height: var(--element-size);
  width: var(--element-size);
  background: var(--element-background);
  border-radius: var(--control-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.checkbox-proxy::before {
  content: "";
  display: block;
  pointer-events: none;
  mask-size: contain;
  mask-position: center;
  mask-image: url("");
  mask-repeat: no-repeat;
  mask-image: var(--unchecked-icon);
  width: 1em;
  height: 1em;
  background: var(--text-normal);
}
.checkbox-proxy:hover {
  background: var(--background-3);
}
.checkbox-proxy:hover::before {
  background: var(--text-highlight);
}
.wrapped-checkbox:checked + .checkbox-proxy::before {
  mask-image: var(--checked-icon);
}
.wrapped-checkbox:focus + .checkbox-proxy {
  outline: var(--focus-weight) var(--focus-color) solid;
}

*:focus {
  outline: var(--focus-weight) var(--focus-color) solid;
}

#global-pause-icon {
  --element-size: var(--options-height);
  --element-background: var(--background-2);
  --checked-icon: url("./assets/play_icon.svg");
  --unchecked-icon: url("./assets/pause_icon.svg");
}

.select-wrapper {
  position: relative;
}
.select-wrapper::before {
  content: "";
  display: block;
  pointer-events: none;
  mask-size: contain;
  mask-position: center;
  mask-image: url("./assets/dropdown_icon.svg");
  mask-repeat: no-repeat;
  position: absolute;
  width: 1.4em;
  height: 1.4em;
  right: 1em;
  top: calc(50% - 0.7em);
  background: var(--text-normal);
}
.select-wrapper:hover::before {
  background: var(--text-highlight);
}
.select-wrapper > select {
  box-sizing: border-box;
  padding-left: 1em;
  width: 100%;
  height: 100%;
  appearance: none;
  background: var(--background-2);
  border: none;
  border-radius: var(--control-radius);
  font-weight: semibold;
  font-size: 1em;
}
.select-wrapper > select:hover {
  color: var(--text-highlight);
  background: var(--background-3);
}

#filter {
  font-size: 1.2rem;
}

#new-script {
  justify-content: space-between;
  background: var(--accent-gradient);
  color: var(--accent-text);
  font-weight: semibold;
  white-space: nowrap;
}
#new-script::before {
  content: "";
  display: block;
  pointer-events: none;
  mask-size: contain;
  mask-position: center;
  mask-image: url("./assets/new_script_icon.svg");
  mask-repeat: no-repeat;
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.5em;
  margin-bottom: 0.2em;
  /* This just slightly tweaks vertical alignment. */
  background: var(--accent-text);
}
#new-script:hover {
  color: var(--accent-text-focus);
}
#new-script:hover::before {
  background: var(--accent-text-focus);
}

hr {
  width: 100%;
  opacity: 0.5;
  color: var(--hr-color);
}

#overview {
  flex-grow: 1;
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb) var(--scroll-track);
  overflow-y: scroll;
  list-style-type: none;
  padding: 0px;
  padding-right: calc(var(--gap) / 2);
  mask-image: url("./assets/vignette.svg");
  mask-size: contain;
  mask-position: center;
  mask-repeat: repeat-x;
}

.script-card {
  background: var(--background-2);
  border-radius: var(--control-radius);
  margin-bottom: var(--gap);
  padding: var(--gap);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  --button-size: 3rem;
  --details-width: calc(100% - 2.5 * var(--button-size) - 4 * var(--gap));
}

.script-description {
  width: var(--details-width);
}
.script-description p {
  margin: 0;
}

.script-name {
  font-size: 1.4rem;
  font-weight: bolder;
  color: var(--text-highlight);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  width: calc(100% - 1.2em - 0.5ch);
  float: left;
}
.script-name::before {
  content: "";
  display: block;
  pointer-events: none;
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5ch;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

.js-badge::before {
  background-image: url("./assets/js-badge.png");
}

.css-badge::before {
  background-image: url("./assets/css-badge.png");
}

.script-matches {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.script-date {
  font-size: 0.9rem;
  color: var(--primary-4);
  opacity: 0.7;
  display: flex;
  align-items: center;
}
.script-date::before {
  content: "";
  display: block;
  pointer-events: none;
  mask-size: contain;
  mask-position: center;
  mask-image: url("./assets/calendar_icon.svg");
  mask-repeat: no-repeat;
  width: 0.8em;
  height: 0.8em;
  background: var(--primary-4);
  margin-bottom: 0.2em;
  margin-right: 0.5em;
}

.script-actions {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  position: relative;
  width: var(--actions-width);
  padding-left: var(--gap);
}
.script-actions::before {
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0.125em;
  background: var(--text-normal);
  opacity: 0.3;
  border-radius: 0.625em;
}

.round-button {
  width: var(--button-size);
  height: var(--button-size);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border-radius: 50%;
  background: var(--card-action-background);
}
.round-button:hover {
  background: var(--card-action-background-hover);
}
.round-button::before {
  content: "";
  display: block;
  pointer-events: none;
  background: var(--text-normal);
  width: 1.5em;
  height: 1.5em;
}
.round-button:hover::before {
  background: var(--text-highlight);
}

.script-edit::before {
  mask-size: contain;
  mask-position: center;
  mask-image: url("./assets/edit_icon.svg");
  mask-repeat: no-repeat;
}

.script-delete::before {
  mask-size: contain;
  mask-position: center;
  mask-image: url("./assets/delete_icon.svg");
  mask-repeat: no-repeat;
}

.script-enable-wrapper {
  display: flex;
  align-items: center;
}

.script-enable-icon {
  --element-size: 2em;
  --checked-icon: url("./assets/check_icon.svg");
  --element-background: transparent;
  box-shadow: 0 0 0 0.15em var(--text-normal);
  margin-right: var(--gap);
}
.script-enable-icon::before {
  width: 80%;
  height: 80%;
  background: transparent;
}
.script-enable-icon:hover {
  box-shadow: 0 0 0 0.15em var(--text-highlight);
}
.script-enable-icon:hover::before {
  background: transparent;
}
.wrapped-checkbox:checked + .script-enable-icon::before {
  background: var(--text-normal);
}
.wrapped-checkbox:checked + .script-enable-icon:hover::before {
  background: var(--text-highlight);
}

#snackbar {
  text-align: center;
  vertical-align: center;
  background: var(--snackbar-active);
  color: var(--snackbar-text);
  border-radius: var(--control-radius);
}

#footer {
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  opacity: 0.8;
}

#editor-wrapper {
  display: none;
}

#settings-wrapper {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url("./assets/background_dark.png");
  }

  :root {
    --text-normal: var(--primary-4);
    --text-highlight: var(--primary-2);
    --background-1: var(--primary-7);
    --background-2: var(--primary-6);
    --background-3: var(--primary-5);
    --scroll-track: var(--primary-6);
    --scroll-thumb: var(--primary-4);
    --hr-color: var(--primary-4);
    --card-action-background: var(--primary-7);
    --card-action-background-hover: var(--primary-5);
  }

  ::selection {
    color: black;
    background: rgba(255, 255, 255, 0.5);
  }
}
