// Define mixins

// This is a set of rules that need to occur in pseudoelements
// that only serve to show an icon.
@mixin pseudo-icon() {
    content: '';
    display: block;
    pointer-events: none;
}

// The icons in oildrop are implemented via svg masks over
// elements. This allows icon color to be changed with the element's
// `background-color` property.
@mixin mask-icon($path) {
    mask-size: contain;
    mask-position: center;
    mask-image: url($path);
    mask-repeat: no-repeat;
}

// Load & configure fonts
@font-face {
    font-family: "Poppins";
    src: url("./assets/poppins/Poppins-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/poppins/Poppins-Medium.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("./assets/bebas_neue/BebasNeue-Regular.otf");
}

:root {
    --primary-0: #FFFFFF;
    --primary-1: #F3F3F3;
    --primary-2: #E4E4E4;
    --primary-3: #D0D0D0;
    --primary-4: #A6A8B1;
    --primary-5: #1A3C66;
    --primary-6: #171C3A;
    --primary-7: #090D28;

    // Oildrop's orange gradient
    --accent-dark: #FFD969;
    --accent-bright: #FFAB86;
    --accent-gradient: linear-gradient(120deg, var(--accent-dark), var(--accent-bright));

    // The text color to use on top of the accent color.
    --accent-text: #52433F;
    --accent-text-focus: var(--primary-7);

    --gap: 1rem;
    --options-height: 3rem;
    --control-radius: 0.3rem;

    --text-normal: var(--primary-5);
    --text-highlight: var(--primary-6);
    --background-1: var(--primary-0);
    --background-2: var(--primary-1);
    --background-3: var(--primary-2);
    --scroll-track: var(--primary-1);
    --scroll-thumb: var(--primary-3);
    --hr-color: var(--primary-3);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-normal: var(--primary-4);
        --text-highlight: var(--primary-2);
        --background-1: var(--primary-7);
        --background-2: var(--primary-6);
        --background-3: var(--primary-5);
        --scroll-track: var(--primary-6);
        --scroll-thumb: var(--primary-4);
        --hr-color: var(--primary-4);
    }

    body {
        background-image: url("./assets/background_dark.png");
    }
}

* {
    font-family: "Poppins";
    color: var(--text-normal);
}

html {
    padding: 0px;
    font-size: 10pt;
}

body {
    display: flex;
    justify-content: center;

    margin: 0px;
    width: 450px;
    height: 585px;

    overflow: hidden;

    background-image: url("./assets/background_light.png");
    background-color: var(--background-1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

button {
    display: inline-flex;
    padding: 0 1.3rem;
}

button {
    align-items: center;
    justify-content: center;
    overflow: hidden;

    font-size: 1.2rem;
    border-radius: var(--control-radius);
    border: none;
    cursor: pointer;

    &:active, &:hover, &:focus {
        // TODO: find an outline, maybe?
    }
}

#home {
    display: flex;
    flex-direction: column;

    width: calc(100% - 2 * var(--gap));
    height: 100%;
    padding-top: calc(var(--gap) / 2);
    padding-bottom: calc(var(--gap) / 2);
    box-sizing: border-box;
}

#home > * {
    margin-top: calc(var(--gap) / 2);
    margin-bottom: calc(var(--gap) / 2);
}

#options {
    display: flex;
    justify-content: space-between;
    height: var(--options-height);
}

#logo {
    font-family: 'Bebas Neue';
    font-size: 2rem;
    vertical-align: center;
    display: flex;
    align-items: center;

    &::before {
        @include pseudo-icon;
        @include mask-icon("./assets/play_icon.svg");
        background: gray;
        width: 0.4em;
        height: 0.4em;
        margin-right: 1ch;
    }
}

#settings-button {
    @include mask-icon("./assets/settings_icon.svg");

    width: var(--options-height);
    height: var(--options-height);

    background: var(--text-normal);
    mask-size: 80%;

    &:hover {
        background: var(--text-highlight);
    }
}

#overview-controls {
    display: flex;
    justify-content: space-between;

    &, & > * {
        height: var(--options-height);
    }

    & > .select-wrapper {
        flex-grow: 1;
        margin: 0 var(--gap);
    }
}

#global-pause {
    display: none;
}

#global-pause-icon {
    margin: 0;
    height: var(--options-height);
    width: var(--options-height);

    background: var(--background-2);
    border-radius: var(--control-radius);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &::before {
        @include pseudo-icon;
        @include mask-icon("./assets/pause_icon.svg");

        width: 1em;
        height: 1em;
        background: var(--text-normal);
    }

    &:hover {
        background: var(--background-3);

        &::before {
            background: var(--text-highlight);
        }
    }

    #global-pause:checked + &::before {
        mask-image: url("./assets/play_icon.svg");
    }
}

.select-wrapper {
    position: relative;

    &::before {
        @include pseudo-icon;
        @include mask-icon("./assets/dropdown_icon.svg");

        position: absolute;

        width: 1.4em;
        height: 1.4em;
        right: 1em;
        top: calc(50% - 0.7em);

        background: var(--text-normal);
    }

    &:hover::before {
        background: var(--text-highlight);
    }

    & > select {
        box-sizing: border-box;
        padding-left: 1em;
        width: 100%;
        height: 100%;

        appearance: none;
        background: var(--background-2);
        border: none;
        border-radius: var(--control-radius);
        font-weight: bold;
        font-size: 1em;

        &:hover {
            color: var(--text-highlight);
            background: var(--background-3);
        }
    }
}

#filter {
    font-size: 1.2rem;
}

#new-script {
    justify-content: space-between;

    background: var(--accent-gradient);
    color: var(--accent-text);

    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    
    &::before {
        @include pseudo-icon;
        @include mask-icon("./assets/new_script_icon.svg");

        content: '';
        display: block;

        width: 0.9em;
        height: 0.9em;

        margin-right: 0.5em;
        margin-bottom: 0.2em; /* This just slightly tweaks vertical alignment. */
        background: var(--accent-text);
    }

    &:hover {
        color: var(--accent-text-focus);

        &::before {
            background: var(--accent-text-focus);
        }
    }
}

hr {
    width: 100%;
    opacity: 0.5;
    color: var(--hr-color);
}

#overview {
    flex-grow: 1;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-thumb) var(--scroll-track);

    overflow-y: scroll;
    list-style-type: none;
    padding: 0px;
    padding-right: var(--gap);

    mask-image: url("./assets/vignette.svg");
    mask-size: contain;
    mask-position: center;
    mask-repeat: repeat-x;
}

.script-card {
    background: var(--background-2);
    border-radius: var(--control-radius);
    margin-bottom: var(--gap);
    padding: var(--gap);
}

#snackbar {
    text-align: center;
    vertical-align: center;
}

#footer {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
}

#editor-wrapper {
    display: none;
}

#settings-wrapper {
    display: none;
}

