// Define mixins

// This is a set of rules that need to occur in pseudoelements
// that only serve to show an icon.
@mixin pseudo-icon() {
    content: '';
    display: block;
    pointer-events: none;
}

// The icons in oildrop are implemented via svg masks over
// elements. This allows icon color to be changed with the element's
// `background-color` property.
@mixin mask-icon($path) {
    mask-size: contain;
    mask-position: center;
    mask-image: url($path);
    mask-repeat: no-repeat;
}

// Load & configure fonts
@font-face {
    font-family: "Poppins";
    src: url("./assets/poppins/Poppins-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/poppins/Poppins-Medium.ttf");
    font-weight: semibold;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/poppins/Poppins-SemiBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("./assets/bebas_neue/BebasNeue-Regular.otf");
}

:root {
    --primary-0: #FFFFFF;
    --primary-1: #F3F3F3;
    --primary-2: #E4E4E4;
    --primary-3: #D0D0D0;
    --primary-4: #A6A8B1;
    --primary-5: #1A3C66;
    --primary-6: #171C3A;
    --primary-7: #090D28;

    // Oildrop's orange gradient
    --accent-dark: #FFD969;
    --accent-bright: #FFAB86;
    --accent-gradient: linear-gradient(120deg, var(--accent-dark), var(--accent-bright));

    // The text color to use on top of the accent color.
    --accent-text: #52433F;
    --accent-text-focus: var(--primary-7);

    --width: 450px;
    --height: 585px;
    --gap: 1rem;
    --bar-height: 3rem;
    --control-radius: 0.3rem;
    --focus-weight: 0.15rem;
    --anim-time: 150ms;
    --panel-height: calc(var(--height) - var(--bar-height) - 2 * var(--gap));

    --snackbar-active: linear-gradient(20deg, #2AF598, #009EFD);
    --snackbar-inactive: linear-gradient(20deg, #FF6480, #F22E63);
    --snackbar-text: rgba(255, 255, 255, 0.8);
    --focus-color: rgba(255, 255, 255, 0.5);

    --text-normal: var(--primary-4);
    --text-highlight: var(--primary-2);
    --background-1: var(--primary-7);
    --background-2: var(--primary-6);
    --background-3: var(--primary-5);
    --scroll-track: var(--primary-6);
    --scroll-thumb: var(--primary-4);
    --hr-color: var(--primary-4);
    --card-action-background: var(--primary-7);
    --card-action-background-hover: var(--primary-5);
    --selection-color: black;
    --selection-background: rgba(255, 255, 255, 0.5);
}

body.light {
    --text-normal: var(--primary-5);
    --text-highlight: var(--primary-6);
    --background-1: var(--primary-0);
    --background-2: var(--primary-1);
    --background-3: var(--primary-2);
    --scroll-track: var(--primary-1);
    --scroll-thumb: var(--primary-3);
    --hr-color: var(--primary-3);
    --card-action-background: var(--primary-2);
    --card-action-background-hover: var(--primary-3);
    --selection-color: white;
    --selection-background: black;

    background-image: url("./assets/background_light.png");
}

::selection {
    color: var(--selection-color);
    background: var(--selection-background);
}

* {
    font-family: "Poppins";
    font-weight: normal;
    color: var(--text-normal);
}

html {
    padding: 0px;
    font-size: 10pt;
}

body {
    display: flex;
    justify-content: center;

    margin: 0px;
    width: var(--width);
    height: var(--height);

    overflow: hidden;

    background-image: url("./assets/background_dark.png");
    background-color: var(--background-1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    display: inline-flex;
    padding: 0 1.3rem;
    height: var(--bar-height);
    align-items: center;
    justify-content: center;
    overflow: hidden;

    font-size: 1.2rem;
    border-radius: var(--control-radius);
    border: none;
    cursor: pointer;

    background: var(--background-2);
    color: var(--text-normal);

    &:hover {
        background: var(--background-3);
        color: var(--text-highlight);
    }
}

#home {
    display: flex;
    flex-direction: column;

    width: calc(100% - 2 * var(--gap));
    height: 100%;
    padding-top: calc(var(--gap) / 2);
    padding-bottom: calc(var(--gap) / 2);
    box-sizing: border-box;

    &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        background: black;
        opacity: 0;
        transition: opacity var(--anim-time) linear;
    }
}

#home > * {
    margin-top: calc(var(--gap) / 2);
    margin-bottom: calc(var(--gap) / 2);
}

.grayout {
    pointer-events: none !important;
    user-select: none;

    &::after {
        opacity: 0.5 !important;
    }
}

#options {
    display: flex;
    justify-content: space-between;
    height: var(--bar-height);
}

#logo {
    font-family: 'Bebas Neue';
    font-size: 2rem;
    vertical-align: center;
    display: flex;
    align-items: center;

    &::before {
        @include pseudo-icon;
        @include mask-icon("./assets/play_icon.svg");
        background: gray;
        width: 0.4em;
        height: 0.4em;
        margin-right: 1ch;
    }
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--bar-height);
}

.dense-bar {
    & > *:not(:first-child) {
        margin-left: var(--gap);
    }
}

#light-toggle-icon {
    --element-size: var(--bar-height);
    --checked-icon: url("./assets/dark_mode_icon.svg");
    --unchecked-icon: url("./assets/light_mode_icon.svg");
    font-size: 2rem;
}

#settings-button {
    width: var(--bar-height);
    height: var(--bar-height);
    background: transparent;
    padding: 0;

    &:hover {
        background: var(--background-3);

        &::before {
            background: var(--text-highlight);
        }
    }

    &::before {
        @include pseudo-icon;
        @include mask-icon("./assets/settings_icon.svg");
        background: var(--text-normal);
        width: 2rem;
        height: 2rem;
    }
}

#overview-controls {
    & > * {
        height: var(--bar-height);
    }

    & > .select-wrapper {
        flex-grow: 1;
    }
}

// In Oildrop, I use checkboxes wrapped in labels
// in order to style them. A label that contains a checkbox
// will, when clicked, toggle the checkbox, which lets us
// style a div instead of the checkbox itself.
label > input[type=checkbox].wrapped-checkbox {
    // This is effectively just doing a display:none, but
    // it allows the element to still be focused on.
    position: absolute;
    opacity: 0;
    pointer-events: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.checkbox-proxy {
    height: var(--element-size);
    width: var(--element-size);

    background: var(--element-background);
    border-radius: var(--control-radius);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &::before {
        @include pseudo-icon;
        @include mask-icon("");
        mask-image: var(--unchecked-icon);

        width: 1em;
        height: 1em;
        background: var(--text-normal);
    }

    &:hover {
        background: var(--background-3);

        &::before {
            background: var(--text-highlight);
        }
    }

    .wrapped-checkbox:checked + &::before {
        mask-image: var(--checked-icon);
    }

    .wrapped-checkbox:focus + & {
        outline: var(--focus-weight) var(--focus-color) solid;
    }
}

*:focus {
    outline: var(--focus-weight) var(--focus-color) solid;
}

#global-pause-icon {
    --element-size: var(--bar-height);
    --element-background: var(--background-2);
    --checked-icon: url("./assets/play_icon.svg");
    --unchecked-icon: url("./assets/pause_icon.svg");
}

select {
    cursor: pointer;
}

.select-wrapper {
    position: relative;

    &::before {
        @include pseudo-icon;
        @include mask-icon("./assets/dropdown_icon.svg");

        position: absolute;

        width: 1.4em;
        height: 1.4em;
        right: 1em;
        top: calc(50% - 0.7em);

        background: var(--text-normal);
    }

    &:hover::before {
        background: var(--text-highlight);
    }

    & > select {
        box-sizing: border-box;
        padding-left: 1em;
        width: 100%;
        height: 100%;

        appearance: none;
        background: var(--background-2);
        border: none;
        border-radius: var(--control-radius);
        font-weight: semibold;
        font-size: 1em;

        &:hover {
            color: var(--text-highlight);
            background: var(--background-3);
        }
    }
}

#filter {
    font-size: 1.2rem;
}

.accent-button {
    background: var(--accent-gradient);
    color: var(--accent-text);

    &:hover {
        color: var(--accent-text-focus);
        background: var(--accent-gradient);
    }
}

#new-script {
    justify-content: space-between;
    font-weight: semibold;
    white-space: nowrap;
    
    &::before {
        @include pseudo-icon;
        @include mask-icon("./assets/new_script_icon.svg");

        width: 0.9em;
        height: 0.9em;

        margin-right: 0.5em;
        margin-bottom: 0.2em; /* This just slightly tweaks vertical alignment. */
        background: var(--accent-text);
    }

    &:hover {
        &::before {
            background: var(--accent-text-focus);
        }
    }
}

hr {
    width: 100%;
    opacity: 0.5;
    color: var(--hr-color);
}

#overview {
    flex-grow: 1;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-thumb) var(--scroll-track);
    overflow-y: scroll;
    list-style-type: none;
    padding: 0px;
    padding-right: calc(var(--gap) / 2);

    mask-image: url("./assets/vignette.svg");
    mask-size: contain;
    mask-position: center;
    mask-repeat: repeat-x;
}

.script-card {
    background: var(--background-2);
    border-radius: var(--control-radius);
    margin-bottom: var(--gap);
    padding: var(--gap);
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    --button-size: 3rem;
    --details-width: calc(100% - 2.5 * var(--button-size) - 4 * var(--gap));
}

.script-description {
    width: var(--details-width);

    & p {
        margin: 0;
    }
}

.script-name {
    font-size: 1.4rem;
    font-weight: bolder;
    color: var(--text-highlight);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    width: calc(100% - 1.2em - 0.5ch);
    float: left;

    &::before {
        @include pseudo-icon;
        width: 1.2em;
        height: 1.2em;
        margin-right: 0.5ch;
        margin-top: 0.15em;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        float: left;
    }
}

.js-badge::before { background-image: url("./assets/js-badge.png"); }
.css-badge::before { background-image: url("./assets/css-badge.png"); }

.script-matches {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.script-date {
    font-size: 0.9rem;
    color: var(--primary-4);
    opacity: 0.7;
    display: flex;
    align-items: center;

    &::before {
        @include pseudo-icon;
        @include mask-icon("./assets/calendar_icon.svg");
        width: 0.8em;
        height: 0.8em;
        background: var(--primary-4);
        margin-bottom: 0.2em;
        margin-right: 0.5em;
    }
}

.script-actions {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;

    width: var(--actions-width);
    padding-left: var(--gap);

    &::before {
        @include pseudo-icon;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0.125em;

        background: var(--text-normal);
        opacity: 0.3;
        border-radius: 0.625em;
    }
}

.round-button {
    width: var(--button-size);
    height: var(--button-size);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border-radius: 50%;
    background: var(--card-action-background);

    &:hover {
        background: var(--card-action-background-hover);
    }

    &::before {
        @include pseudo-icon;
        background: var(--text-normal);

        width: 1.5em;
        height: 1.5em;
    }

    &:hover::before {
        background: var(--text-highlight);
    }
}

.script-edit::before {
    @include mask-icon("./assets/edit_icon.svg");
}

.script-delete::before {
    @include mask-icon("./assets/delete_icon.svg");
}

.script-enable-wrapper {
    display: flex;
    align-items: center;
}

.script-enable-icon {
    --element-size: 2em;
    --checked-icon: url("./assets/check_icon.svg");
    --element-background: transparent;
    box-shadow: 0 0 0 0.15em var(--text-normal);
    margin-right: var(--gap);

    &::before {
        width: 80%;
        height: 80%;
        background: transparent;
    }

    &:hover {
        box-shadow: 0 0 0 0.15em var(--text-highlight);

        &::before {
            background: transparent;
        }
    }

    .wrapped-checkbox:checked + &::before {
        background: var(--text-normal);
    }

    .wrapped-checkbox:checked + &:hover::before {
        background: var(--text-highlight);
    }
}

#snackbar {
    text-align: center;
    vertical-align: center;
    background: var(--snackbar-active);
    color: var(--snackbar-text);
    border-radius: var(--control-radius);
}

#footer {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    opacity: 0.8;
}

.panel {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    transition: height var(--anim-time) ease;
    border-radius: var(--control-radius) var(--control-radius) 0 0;
    overflow: hidden;
    
    &.active {
        height: var(--panel-height);
    }
}

#editor-wrapper #editor button.dismiss-icon {
    background: transparent;
    border-radius: 50%;
    width: var(--bar-height);
    height: var(--bar-height);

    &:before {
        @include pseudo-icon;
        @include mask-icon("./assets/dismiss_icon.svg");
        width: 80%;
        height: 80%;
        background: var(--text-normal);
    }
}

#editor {
    width: 100%;
    box-sizing: border-box;
    height: var(--panel-height);
    background: var(--background-2);
    padding: var(--gap);

    button:not(.accent-button) {
        background: var(--background-1);

        &:hover {
            background: var(--background-3);
        }
    }
}